*{
    font-family: Rubik;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ECECEC;
}
.container{
    width: 623px;
    display: block;
    margin: 0 auto;
}
p{
    margin: 15px 0;
}
.todo__input{
    border: none;
    padding-left: 15px;
}
.todo__text{
    margin-top: 50px;
}
.error{
    margin: 10px;
}
.checkbox__wrapper{
    display: flex;
    gap: 10px;
}
.todo__title, .todo__subtitle{
    margin: 20px 0;
}
.todo__input{
    width: 605px;
    height: 56px;
    border-radius: 10px;
    background: #FFF;
}
.btn-add{
    width: 623px;
    height: 63px;
    border-radius: 10px;
    background: #4A4FD6;
    margin-top: 20px;
    border: none;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}
.btn:active{
    box-shadow: 0 0 0 60px #4A4FD6 inset;
    transform: translateY(5px);
    transition: all 0.5s;   
}
.btn:hover{
    box-shadow: 3px 3px 20px #4A4FD6;
    border: none;
    transition: 0.5s all;
}
.checkbox__business, .checkbox__personal{
    width: 298px;
    height: 126px;
    border-radius: 10px;
    background: #FFF;
    padding: 20px;
}
label{
    text-align: center;
}
.todo__item-box{
    display: flex;
    justify-content: space-between;
    width: 603px;
    height: 56px;
    padding: 10px;
    border-radius: 25px;
    background: #FFF;
    align-items: center;
    margin-top: 20px;
}
.todo__item-wrapper{
    display: flex;
}
.btn-edit{
    width: 51px;
    height: 38px;
    background: #C62D85;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;

}
.btn-delete{
    width: 69px;
    height: 38px;
    flex-shrink: 0;
    background: #DC4644;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 5px;
}

.hidden{
    display: none;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
  
.radio + label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
}
  
/* Оформление радио-кнопки */
.radio + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 3px solid #1E25CC;
    border-radius: 50%;
    background: #FFF;
}
  
  /* Радио в состоянии неактивен */
.radio + label:after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 3.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1E25CC;
    opacity: 0;
    transition: .2s;
}

.radio:checked + label:after {
    opacity: 1;
}

.editable{
    padding: 5px;
    border-radius: 4px;
}